main {
    display: block;
  }
  body {
    margin: 0%;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;

  }
  .bg-primary {
    background-color: #2d3e50;
  }
header {
    height: 90px;
  }

  div {
    padding: 2%;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
  }
  
 form {
    line-height: 30px;
    padding-left: 2%;
  }
  h2 {
    border-width: 3px;
  }
.cities {
    width: 300px;
}
.btnCity {
    margin: 5px;
}

#mainBox {
display: flex;
width: 100%;
}